extends ../layout.jade

block body
    div#body

    script(type="text/javascript", src="/spa-bundle.js")

    div#templates(style="display:none;")
        script(type="text/template")#root-view-template
            div#errors
            div#main

        script(type="text/template")#homepage-template
            div
                p.green hi world, my name is: {{name}}

    script(type="text/javascript").

        (function(window,$,_,handlebars,backbone,marionette,undefined){

            var $templates = $("#templates")
            
            var RootLayout = marionette.LayoutView.extend({
                el: '#body',
                template: handlebars.compile( $templates.find('#root-view-template').html() ),
                regions:{
                    'errors': '#errors',
                    'main': '#main'
                }
            });

            var Homepage = marionette.ItemView.extend({
                template: handlebars.compile( $templates.find("#homepage-template").html() ),
                initialize: function(){
                    this.model = new backbone.Model({name: 'amir'});
                }
            });

            var Application = marionette.Application.extend({
                    initialize: function(options){
                        options = options || {};
                        this.rootView = options.rootView || new RootLayout();
                    }
                }),

                // immediately initialize the app, so it can be used in the router ...
                app = new Application();

            var Router = backbone.Router.extend({
                routes:{
                    "": "home"
                },

                "home": function(){
                    console.log("hi from the home route");
                    app.rootView.render();
                    app.rootView.getRegion('main').show(new Homepage());
                }
            });

            app.on('start',function(){
                new Router();
                backbone.history.start();
            });

            app.start();

        })(window,jQuery,_,Handlebars,Backbone,Marionette);
    